{% extends '_layout.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block breadcrumb %}
    <i class="bar chart icon"></i>
    <div class="active section">Dashboard</div>
{% endblock %}

{% block content %}
    <h1>DBS - School database project</h1>
    <br>
    <h3>Created by - Adam Žúrek</h3>
    <br>
    <a href="/delLog" class="ui orange button button-independent">
        <i class="delete calendar icon"></i>
        delete query log
    </a>

{% endblock %}
